{% extends 'base.html.twig' %}
{% block title %}{{ name }}{% endblock %}
{% block body %}
    <div>
        {{ form_start(form, {'attr': {'class': 'row'}}) }}
        <dv>
            <div class="input-field col s12 m6 l6">
                {{ form_label(form.nom) }}
                {{ form_widget(form.nom, {'attr': {'placeholder': 'Dupond'}}) }}
            </div>

            <div class="input-field col s12 m6 l6">
                {{ form_label(form.prenom) }}
                {{ form_widget(form.prenom, {'attr': {'placeholder': 'Claude'}}) }}
            </div>

            <div class="input-field col s12 m6 l6">
                {{ form_label(form.adresse) }}
                {{ form_widget(form.adresse, {'attr': {'placeholder': '13 rue André Gabaret'}}) }}
            </div>

            <div class="input-field col s12 m6 l6">
                {{ form_label(form.telephone) }}
                {{ form_widget(form.telephone, {'attr': {'placeholder': '0545667788'}}) }}
            </div>

            <div class="input-field col s12 m6 l6">
                {{ form_label(form.photo) }}
                {{ form_widget(form.photo, {'attr': {'placeholder': 'http://photoDeMoi.org'}}) }}
            </div>

            <div class="input-field col s12 m12 l12">
                <input type="submit" name="" value="Enregistrer" class="btn btn-primary">
            </div>
        </dv>
        {{ form_end(form) }}
    </div>
{% endblock %}