{% extends 'base.html.twig' %}
{% block title %}{{ name }}{% endblock %}
{% block body %}
    <style>
        .formTextElement
        {
            margin: 10px;
        }
        .formChampElement
        {
            margin: 10px;
            width: 100%;
        }
        .formCoteText
        {
            width: 30%;
        }
        .formCoteChamp
        {
            width: 70%;
        }
    </style>

    {{ form_start(form, {'attr': {'class': 'row'}}) }}
    <div class="formCoteText">
        <div class="formTextElement">
            {{ form_label(form.nom) }} (Obligatoire)
        </div>

        <div class="formTextElement">
            {{ form_label(form.prenom) }} (Obligatoire)
        </div>

        <div class="formTextElement">
            {{ form_label(form.adresse) }} (Obligatoire)
        </div>

        <div class="formTextElement">
            {{ form_label(form.telephone) }} (Optionnel)
        </div>

        <div class="formTextElement">
            {{ form_label(form.photo) }} (Optionnel)
        </div>
    </div>
    <div class="formCoteChamp">
        <div class="formChampElement col s12 m6 l6">
            {{ form_widget(form.nom, {'attr': {'placeholder': 'Dupond', 'style': 'width:50%'}}) }}
        </div>

        <div class="formChampElement col s12 m6 l6">
            {{ form_widget(form.prenom, {'attr': {'placeholder': 'Claude', 'style': 'width:50%'}}) }}
        </div>

        <div class="formChampElement col s12 m6 l6">
            {{ form_widget(form.adresse, {'attr': {'placeholder': '13 rue André Gabaret', 'style': 'width:80%'}}) }}
        </div>

        <div class="formChampElement col s12 m6 l6">
            {{ form_widget(form.telephone, {'attr': {'placeholder': '0545667788', 'style': 'width:20%'}}) }}
        </div>

        <div class="formChampElement col s12 m6 l6">
            {{ form_widget(form.photo, {'attr': {'placeholder': 'http://photoDeMoi.org', 'style': 'width:80%'}}) }}
        </div>
        <div class="formChampElement col s12 m12 l12">
            <input type="submit" name="" value="Enregistrer" class="btn btn-primary">
        </div>
    </div>

    {{ form_end(form) }}
{% endblock %}