{% extends 'base.html.twig' %}

{% block title %}Detail {{ produit.nom }}{% endblock %}
{% block stylesheets %} <link href="{{ asset('css/produit/detailProduit.css') }}" rel="stylesheet">{% endblock %}

{% block body %}
<style>
    .imageProduit{
        background-image:url({{ produit.photo }});
    }
    .imageProfil {
        background-image:url({{ producteur.photo }});
    }
</style>

<div class="example-wrapper">
    <h1>Bienvenue dans la page de detail du produit</h1>

    <div class="wrapper shadow-lg">
        <div class="presentation">
            <div class="imageProduit mr-3 rounded-circle" ></div>

            <div class="nom">
                <h2>{{ produit.nom }}</h2>
            </div>
        </div>
        <div class="info">
            <div class="imageProfil mr-3 rounded-circle" ></div>

            <p>Le producteur {{ producteur.prenom }} {{ producteur.nom}} a ramassé ce {{ produit.type }} à {{ producteur.adresse }}.</p>
            <a href="/detailproducteur/{{ producteur.id }}" class="btn btn-success">Voir producteur</a>
            <p>{{ produit.description }}</p>
            <h5>Quantitée : {{ produit.quantite }}</h5>
            <h4>Prix : {{ produit.prix }} €</h4>
        </div>
    </div>
</div>
{% endblock %}

