{% extends 'base.html.twig' %}
{% block title %}{{ producteur.prenom }} {{ producteur.nom }}{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('css/producteur/carteProducteur.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}

    <div class="example-wrapper">
            <div id="map" style="height:500px"></div>
        </div>

        {% endblock %}

        {% block scripts %}
            <script>
                // Création de votre map dans votre conteneur "map", coordonnées de centrage et niveau de zoom par défaut.
                let map = L.map('map').setView([46.158051, -1.153400], 10);
                // Création du fond de carte
                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                }).addTo(map);

                L.marker([{{ producteur.lat }}, {{ producteur.lng }}]).addTo(map)
                    // Bind du click sur un point qui affiche une popup (vous pouvez mettre ce que vous voulez à l'intérieur)
                    .bindPopup("{{ producteur.nom }} - {{ producteur.prenom }}<br>{{ producteur.adresse }}<br>{{ producteur.telephone }}");

            </script>
        {% endblock %}





