{% extends 'base.html.twig' %}
{% block title %}{{ producteur.prenom }} {{ producteur.nom }}{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('css/producteur/carteProducteur.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
    <div class="example-wrapper">
        <div id="map" style="height:500px"></div>
    </div>

{% endblock %}

{% block scripts %}
    <script>
        // Création de votre map dans votre conteneur "map", coordonnées de centrage et niveau de zoom par défaut.
        let map = L.map('map').setView([46.158051, -1.153400], 7);// setView position de la carte par défaut si la position de client ne peut pas etre obtenu
        // Création du fond de carte
        L.tileLayer('https://tiles.stadiamaps.com/tiles/outdoors/{z}/{x}/{y}{r}.png', {
            attribution: '&copy; <a href="&copy; <a href="https://stadiamaps.com/">Stadia Maps</a>, &copy; <a href="https://openmaptiles.org/">OpenMapTiles</a> &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors">OpenStreetMap</a> contributors'
        }).addTo(map);

        var customIcon = L.icon({
            iconUrl:'{{asset('location-icon')}}',
            iconSize: [64,64],
            iconAnchor: [32,64],
            popupAnchor: [0, -64]
        });

        var customIconMyLocation = L.icon({
            iconUrl:'{{asset('location-icon-blue')}}',
            iconSize: [64,64],
            iconAnchor: [32,64],
            popupAnchor: [0, -64]
        });

        L.marker([{{ producteur.lat }}, {{ producteur.lng }}], {icon: customIcon}).addTo(map)
            // Bind du click sur un point qui affiche une popup (vous pouvez mettre ce que vous voulez à l'intérieur)
            .bindPopup("{{ producteur.nom }} - {{ producteur.prenom }}<br>{{ producteur.adresse }}<br>{{ producteur.telephone }}");

        function onLocationFound(e) {
            var radius = e.accuracy / 2;

            L.marker(e.latlng, {icon: customIconMyLocation}).addTo(map)
                .bindPopup("<p style='color:#3386FF'>Vous êtes ici ! <p>").openPopup();

            L.circle(e.latlng, radius).addTo(map);
        }

        map.on('locationfound', onLocationFound);

        map.locate({setView: true, maxZoom: 16});
    </script>
{% endblock %}





